/* You can add global styles to this file, and also import other style files */
body{
    background-color: #15202B;
    height: 100vh;
    font-family: DM Sans;
}

::-webkit-scrollbar-track {
background: rgb(212, 204, 204);
}

::-webkit-scrollbar-thumb {
background: #192734;
}

::-webkit-scrollbar-thumb:hover {
background: darken(#192734, 10%);
opacity: 1;
}



::-webkit-scrollbar {
    width: 10px;
    position: absolute;
    top: 0;
    right: 0;
  }
  